:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  img {
    height: 100%;
    width: auto;
  }
}

app-annotations {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
