<div *ngIf="isLoading; else document">Is loading</div>

<ng-template #document>
<!--  <p>document works!</p>-->

  <div class="menu">
    <h2>{{pageTitle}}</h2>
    <div>
      <button (click)="zoomInHandler()" [disabled]="pageSizeInPx >= maxHeight">+</button>
      <button (click)="zoomOutHandler()" [disabled]="pageSizeInPx <= minHeight">-</button>
      <button>Save</button>
    </div>
  </div>
    <div class="page">
      <cdk-virtual-scroll-viewport itemSize="{{pageSizeInPx}}" class="virtual-viewport">
        <div *cdkVirtualFor="let page of pages" class="viewport-item">
          <app-page [imageUrl]="page.imageUrl" [ngStyle]="{'height.px': pageSizeInPx}"></app-page>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
</ng-template>
