<button class="remove" (click)="removeAnnotation()">x</button>

<div *ngIf="!type">
  <button (click)="setAnnotationType('text')">text</button>
  <button (click)="setAnnotationType('image')">image</button>
</div>

<div *ngIf="type === 'text'; else image">
  <div contenteditable="true" class="text-input"></div>
</div>

<ng-template #image>
  <div *ngIf="type === 'image'" class="image-container">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" *ngIf="!imageSrc">
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" class="image" />
  </div>
</ng-template>
